//DEFAULT
a {
	color: inherit;
	text-decoration: none;
}

* {
	outline: none;
}

button {
	border: none;
}

//4WORK ONLY
section, .container, .section-breaker {
	min-height: 200px;
}

//IMPORT & VARIABLES
@import url('https://fonts.googleapis.com/css?family=Roboto:100|Lato:100,300,400');
@import 'btn';

$container-width: 960px;

@mixin flex-center {	
	justify-content: center;
    align-items: center;
}

//COLORS
	//Palette:
	$sienna: #7B4524;
	$wood: #D49F6C;
	$rosy-brown: #A3785A;
	$black: #353133;
	$grey: #D3D0CE;
	$grey2: #2E323A;
	$font1: #ECEBF0; 
	$bg-color: #0D3448;

//GRID
.flex {
	display: flex;
}

.flex-wrap {
	@extend .flex;
	flex-wrap: wrap;
}

.flex-col {
	@extend .flex;
	flex-direction: column;
}

.col-1 {flex: 1;}
.col-2 {flex: 2;}
.col-3 {flex: 3;}
.col-4 {flex: 4;}

//GENERAL
* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'Lato', 'Roboto', sans-serif; 
	font-weight: 300;
	overflow-x: hidden;
}

.container {
	max-width: $container-width;
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

section {
	background: $bg-color;
	color: $font1;
}
	
img {
	max-width: 100%;
	width: 100%;
	height: auto;
	display: block;
}

h2 {
	display: block;
	width: 100%;
	font-weight: 400;
}

h1{
	@extend h2;
	font-weight: inherit;
}

h3 {
	text-align: center;
}

main section h1 {
	font-family: Roboto;
	font-weight: 600;
	font-size: 2em;
	text-align: center;
	letter-spacing: 10px;
	position: relative;
	color: #F7C712;
		&::after {
			content: '';
			position: absolute;
			width: 30%;
			height: 2px;
			background: silver;
			bottom: -10px;
			right: 50%;
			transform: translateX(50%);
			transition: 1s;
		}
}	

.txt-center {
	text-align: center;
}

//SECTION BREAKERS
.tech-breaker {
	background: url(https://static.pexels.com/photos/160107/pexels-photo-160107.jpeg) 0/cover;
}

.portfolio-breaker {
	background: url(../img/lightbulb.jpg) 0/cover;
}

.contact-breaker {
	background: url(https://static.pexels.com/photos/160107/pexels-photo-160107.jpeg) 0/cover; //TODO img to be replaced
}

.section-breaker {
	background-attachment: fixed;
}

//CUSTOM STYLES
//HEADER
	//TODO: get default menu styles into external file. Load them with @import.
header{
	position: fixed;
	z-index: 100;
	width: 100%;
	padding: 5px 0;

	background: #222222; //fallback color
	background: linear-gradient(45deg, transparent , #222222, $black);

	transition: 1s;

	nav {
		display: flex;
		justify-content: flex-start;

		ul{
			margin: 0 0 0 10%;
			width: 60%;
			padding: 0;
			display: flex;
			justify-content: space-around;
			align-items: center;

			li{				
				padding: 10px 15px;
				color: $grey;
				list-style-type: none;
				text-transform: uppercase;
				font-size: 1.4em;
				letter-spacing: 4px;

			}
		}
	}
}

.header-fixed {
	background-color: #8e44ad;
	padding: 0;
	font-size: 0.8em;
	nav {
		justify-content: center;
	}
}

.photo-nav {
	width: 50px;
	height: 60px;
	align-self: flex-start;
}

//WELCOME
.welcome {
	height: 100vh;
	background: url('../img/night_sky.jpg') 0/cover;
	position: relative;
}
.slogan {
	position: absolute;
	left: 20%;
	bottom: 20%;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 18px;
	font-size: 1.2em;
	text-align: center;
	transition: 1s;
	h1 {
		background: none;
		color: white;
	}
	.countdown {
		padding: 15px 25px;
		background-color: rgba(255, 255, 255, 0.5);
		border-radius: 18px 18px 0 0;
		color: rgba(53, 49, 51, 0.92);
		h1 {
			color: #8e44ad;
			text-transform: uppercase;
		}
	}
}

//ABOUT
.profile-photo {
	position: relative;
}

.hobby {
	display: none;
}

//TECH
.tech {
	background: $grey2;
	background: linear-gradient( to left, $grey2, $sienna);
	color: $font1;
	overflow: hidden;
}

.tech h1 {
	margin-bottom: 0;
}

.sublime-logo img {
	width: 130px;
}

.other article {
	text-align: center;
}

span .vip {
	font-size: 1.1em;
	color: inherit;
	font-weight: inherit;
}

//PORTFOLIO
.portfolio .row {
	// width: 100%;
}

.portfolio-ex {
	margin: 10px;
}

.frame {
	position: relative;
	overflow: hidden;
}

.layer	{
	position: absolute;
	display: flex;
	@include flex-center;
	opacity: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.5);
	transition: 0.4s;
	top: -100%;
	a {
		display: flex;
		color: white;

		i {
		border: green;
		padding: 10px;
		border-radius: 15px;
		}
	}	
}

.portfolio img, .layer {
	border-radius: 10px;
}

.frame:hover .layer{
	opacity: 1;
	top: 0;
}

.portfolio-links {
	text-align: center; 
}

.btn {
  display: block;
  background: rgba(46, 50, 58, 0.44);
  padding: 5px;
  margin: 15px;
  border: 2px solid rgba(139, 115, 18, 0.89);
  border-radius: 14px;
}

.portfolio-links .fa {
	font-size: 2em;
	margin: 5px;
}

//CONTACT
.contact {	
	padding-bottom: 15px;
}

.contact form {
	display: none;
}

//FOOTER
footer {
	position: relative;
	text-align: center;
	background-color: $black;
	color: $font1;
}

footer::before {
	content: "";
	width: 120%;
	height: 180px;
	background: $black;
	position: absolute;
	top: -45px;
  left: 0;
  right: 0;
  transform: rotate(-4deg);
}

.icon-btn {
	width: 50px;
	height: 50px;
	line-height: 50px;
	margin: 8px;
	cursor: pointer;
	font-size: 40px;
	.fa {
	transition: ease-out 0.5s;
	}
}
.icon-btn .fa:hover {
	transform: scale(1.3);
}

.icon-btn {
	.fa-linkedin {
		color: #0077B5;
	}
	.fa-codepen {
		color: #ebc203;
	}
}

footer div > div {
	z-index: 2;
}

.footer-bottom {
	position: relative;
	background-color: #0c0c0c;
	color: white;
	padding: 10px;
}

//FOR JS
.big {
	transform: scale(1.1);
}

//MEDIA QUERIES
@media (max-width: 950px) {
	.portfolio .flex {
		display: block;
	}
	
}

//TODO
/* 
Mobile - ikony zamiast sekcji na jednej klasie - normalnei neiwidcozne
*/