//IMPORT & VARIABLES
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400|Roboto:100');

$container-width: 960px;

@mixin flex-center {	
	justify-content: center;
    align-items: center;
}

//DEFAULT
a {
	color: inherit;
	text-decoration: none;
}

* {	box-sizing: border-box;}

* {	outline: none;}

button {
	border: none;
}

//4WORK ONLY
section, .container, .section-breaker {
	min-height: 200px;
}

//COLORS
	//Palette:
	$black: #353133;
	$half-black: rgba(0, 0, 0, 0.5);
	$grey: #D3D0CE;
	$grey2: #2E323A;
	$font1: #ECEBF0; 
	$bg-color: #0D3448;
	$header-color: #F7C712;

//GRID
.flex {
	display: flex;
}

.flex-wrap {
	@extend .flex;
	flex-wrap: wrap;
}

.flex-col {
	@extend .flex;
	flex-direction: column;
}

.col-1 {flex: 1;}
.col-2 {flex: 2;}

//GENERAL
body {
	margin: 0 auto;
	font-family: 'Lato', 'Roboto', sans-serif; 
	font-weight: 300;
	overflow-x: hidden;
	font-size: 16px;
}

.container {
	max-width: $container-width;
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

section {
	background: $bg-color;
	color: $font1;
}
	
img {
	max-width: 100%;
	width: 100%;
	height: auto;
	display: block;
}

h2, h3 {
	display: block;
	width: 100%;
	font-weight: 400;
	text-align: center;
}

h1{
	@extend h2;
	font-weight: inherit;
}

main section h1 {
	font-family: Roboto;
	font-weight: 600;
	font-size: 2em;
	padding: 35px 0;
	text-align: center;
	letter-spacing: 10px;
	position: relative;
	color: $header-color;
	transition: 1s;
		&::after {
			content: '';
			position: absolute;
			width: 8%;
			height: 2px;
			background: silver;
			bottom: 0;
			right: 50%;
			transform: translateX(50%);
			transition: 1s cubic-bezier(0.61,-0.19, 0.7,-0.11);
		}
}
main section:hover {
	h1 {
		letter-spacing: 5px;
		&::after {
			width: 30%;
		}
	}
}

.txt-center {text-align: center;}

.hidden {opacity: 0;}

//TODO: Tooltip after clicking on eventListener
//SECTION BREAKERS
.tech-breaker {
	background: url(../img/coding.jpg) 0/cover;
}

.portfolio-breaker {
	background: url(../img/lightbulb.jpg) 0/cover;
}

.section-breaker {
	background-attachment: fixed;
}

//CUSTOM STYLES
//HEADER
	//TODO: get default menu styles into external file. Load them with @import.
header{
	position: fixed;
	z-index: 100;
	width: 100%;
	padding: 5px 0;
	background: #222222; //fallback color
	background: linear-gradient(45deg, transparent , #222222, $black);
	nav {
		display: flex;
		justify-content: flex-start;
		ul{
			margin: 0 0 0 10%;
			width: 60%;
			padding: 0;
			display: flex;
			justify-content: space-around;
			align-items: center;
			li{				
				padding: 10px 15px;
				color: $grey;
				list-style-type: none;
				text-transform: uppercase;
				font-size: 1.4em;
				letter-spacing: 2px;
				transition: 1s;
				&:hover {
					text-decoration: overline;
					letter-spacing: 4px;
					color: $header-color;
				}
			}
		}
	}
}

.header-fixed {
	background-color: #8e44ad;
	padding: 0;
	font-size: 0.8em;
	nav {
		justify-content: center;
		li {
			padding: 5px 15px;
		}
	}
}

.photo-nav {
	width: 150px;
    min-height: 40px;
	max-width: initial;
}

//WELCOME
.welcome {
	height: 100vh;
	background: url('../img/night_sky.jpg') 0/cover;
	position: relative;
	overflow: hidden;
}

.slogan {
	position: absolute;
	left: 15%;
	top: 30%;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 18px;
	font-size: 1.2em;
	text-align: center;
	transition: 1s;
	h1 {
		background: none;
		color: white;
	}
	.title {
		padding: 15px 25px;
		background-color: rgba(255, 255, 255, 0.5);
		border-radius: 18px 18px 0 0;
		color: rgba(53, 49, 51, 0.92);
		h1 {
			color: #8e44ad;
			text-transform: uppercase;
		}
	}
}

//ABOUT
.galery {
	display: flex;
    overflow: hidden;
	padding-bottom: 20px;
}

.panel {
	min-height:50vh;
	width: 100%;
	display: flex;
	@include flex-center;
	flex-direction: column;
	flex: 1;
	background-size: cover;
    background-position: center;
	box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
	font-size: 2rem;
	text-align: center;
    align-items: center;
	cursor: pointer;
	overflow: hidden;
	transition:
		font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
		flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
		background 0.2s;
	& > p {
		margin:0;
		width: 100%;
		transition:transform 0.5s;
		flex: 1 0 auto;
		display:flex;
    	justify-content: center;
    	align-items: center;
		text-transform: uppercase;
   		font-family: inherit, cursive;
    	text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
	}
	&.open {
		flex: 3;
		font-size: 3rem;
	}
}

.panel > *:first-child { transform: translateY(-100%); }
.panel.open-active > *:first-child { 
	font-size: 1.5rem; 
	transform: translateY(0); 
}
.panel > *:last-child { transform: translateY(100%); }
.panel.open-active > *:last-child { 
	font-size: 1.5rem; 
	transform: translateY(0); 
}

.panel1 { background-image:url(https://scontent-ams3-1.xx.fbcdn.net/v/t1.0-9/19121_932657773433655_7194965266843374418_n.jpg?oh=02ed2a4949c21559da8f1fcd82763af4&oe=596CA5A1); }
.panel2 { background-image:url("../img/gitara.jpg"); }
.panel3 { background-image:url(https://scontent-ams3-1.xx.fbcdn.net/v/t1.0-9/12832291_1707733569466841_2417337955013122682_n.jpg?oh=2d7a6e7739fb2f66b671c419d59c8fb4&oe=599AFEC8); }

//PORTFOLIO
.portfolio-ex {
	margin: 10px;
}

.frame {
	position: relative;
	overflow: hidden;
	&:hover .layer {
		opacity: 1;
		top: 0;
	}
}

.layer	{
	position: absolute;
	display: flex;
	@include flex-center;
	opacity: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.5);
	transition: 0.4s;
	top: -100%;
	a {
		display: flex;
		color: white;
		i {
		border: green;
		padding: 10px;
		border-radius: 15px;
		}
	}	
}

.portfolio img, .layer {
	border-radius: 10px;
}

.btn {
	display: block;
	background: rgba(46, 50, 58, 0.44);
	padding: 5px;
	margin: 15px;
	border: 2px solid rgba(139, 115, 18, 0.89);
	border-radius: 14px;
	cursor: pointer;
	background-position: 100% 0;
	background-size: 300%;
	background-image: linear-gradient(45deg, $bg-color 50%, transparent 50%);
	transition: 0.8s;
	font-size: 1.1rem;
	&:hover {
		background-position: 0 100%;
		color: $header-color;
		font-weight: 500;
	}
}

.portfolio {
	a {
		background-image: linear-gradient(45deg, $half-black 50%, transparent 50%);
	}
	.portfolio-links .fa {
		font-size: 2em;
		margin: 5px;
	 }
}

//CONTACT
.contact {	
	padding-bottom: 50px;
}

//FOOTER
footer {
	position: relative;
	text-align: center;
	background-color: $black;
	color: $font1;
}

footer::before {
	content: "";
	width: 100vw;
	height: 180px;
	background: $black;
	position: absolute;
	top: -45px;
  	left: 0;
  	right: 0;
 	transform: rotate(-4deg);
}

.icon-btn {
	width: 50px;
	height: 50px;
	line-height: 50px;
	margin: 8px;
	cursor: pointer;
	font-size: 40px;
	.fa {
	transition: ease-out 0.5s;
	}
}
.icon-btn .fa:hover {
	transform: scale(1.3);
}

.icon-btn {
	.fa-linkedin {
		color: #0077B5;
	}
	.fa-codepen {
		color: #ebc203;
	}
}

footer div > div {
	z-index: 2;
}

.footer-bottom {
	position: relative;
	background-color: #0c0c0c;
	color: white;
	padding: 10px;
}

//FOR JS
.big {
	transform: scale(1.05);
}

//MEDIA QUERIES
@media (max-width: 850px) {
	body {
		font-size: 14px;
	}

	nav {
		justify-content: flex-start;
	}

	.slogan {
		width: 80%;
		left: 50%;
		transform: translateX(-50%);
	}

	.portfolio-group, .portfolio-links {
		flex-direction: column;
		display: block;
	}
	
	.section-breaker{
		background-attachment: initial;
	}

	.portfolio-breaker {
		background-size: cover;
		background-position: 50%;
	}

	footer::before {
		display: none;
	}
	
	footer .flex {
		flex-direction: column; //Not working on IE11
		display: block; 
	}

	.layer {
		opacity: 1;
		position: static;
		background: inherit;
		a {
    		padding: 5% 10%;
		}
	}

	.social {
		margin-bottom: 15px;
	}
}

@media (max-width: 600px) {

	.container {
		width: 95%;
	}

	.nav-item {
		display: none;
	}

	nav {
		justify-content: flex-start;
	}

	.email-btn {
		font-size:0.8rem;
		margin: 0;
		overflow: hidden;
	}

	.layer a {
		margin: 1px;
		width: 45%;
	}
}
