@import url("https://fonts.googleapis.com/css?family=Roboto:100|Lato:100,300,400");
a {
  color: inherit;
  text-decoration: none; }

* {
  outline: none; }

button {
  border: none; }

section, .container, .section-breaker {
  min-height: 200px; }

.magic-btn [class^="btn"] {
  display: inline-block;
  margin: 4px 2px;
  padding: 15px 30px;
  min-width: 160px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  background-color: inherit;
  border: 2px solid;
  background-position: 100% 0;
  background-size: 300%;
  -webkit-transition: 0.6s;
  transition: 0.6s; }

.magic-btn [class^="btn"]:hover {
  background-position: 0 100%;
  color: white; }

.btn-purple {
  color: #8e44ad;
  border-color: #8e44ad;
  background-image: linear-gradient(90deg, #8e44ad 50%, transparent 50%); }

.btn-yellow {
  color: #f1c40f;
  border-color: #f1c40f;
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%); }

.btn-blue {
  color: #3498db;
  border-color: #3498db;
  background-image: linear-gradient(135deg, #3498db 50%, transparent 50%); }

.flex, .flex-wrap, .flex-col {
  display: flex; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-col {
  flex-direction: column; }

.col-1 {
  flex: 1; }

.col-2 {
  flex: 2; }

.col-3 {
  flex: 3; }

.col-4 {
  flex: 4; }

* {
  box-sizing: border-box; }

body {
  margin: 0 auto;
  font-family: 'Lato', 'Roboto', sans-serif;
  font-weight: 300;
  overflow-x: hidden; }

.container {
  max-width: 960px;
  width: 80%;
  margin: 0 auto;
  overflow: hidden; }

section {
  background: #0D3448;
  color: #ECEBF0; }

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block; }

h2, h1 {
  display: block;
  width: 100%;
  font-weight: 400; }

h1 {
  font-weight: inherit; }

h3 {
  text-align: center; }

main section h1 {
  font-family: Roboto;
  font-weight: 600;
  font-size: 2em;
  text-align: center;
  letter-spacing: 10px;
  position: relative;
  color: #F7C712; }
  main section h1::after {
    content: '';
    position: absolute;
    width: 30%;
    height: 2px;
    background: silver;
    bottom: -10px;
    right: 50%;
    transform: translateX(50%);
    transition: 1s; }

.txt-center {
  text-align: center; }

.hidden {
  display: none; }

.tech-breaker {
  background: url(https://static.pexels.com/photos/160107/pexels-photo-160107.jpeg) 0/cover; }

.portfolio-breaker {
  background: url(../img/lightbulb.jpg) 0/cover; }

.contact-breaker {
  background: url(https://static.pexels.com/photos/160107/pexels-photo-160107.jpeg) 0/cover; }

.section-breaker {
  background-attachment: fixed; }

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: 5px 0;
  background: #222222;
  background: linear-gradient(45deg, transparent, #222222, #353133);
  transition: 1s; }
  header nav {
    display: flex;
    justify-content: flex-start; }
    header nav ul {
      margin: 0 0 0 10%;
      width: 60%;
      padding: 0;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      header nav ul li {
        padding: 10px 15px;
        color: #D3D0CE;
        list-style-type: none;
        text-transform: uppercase;
        font-size: 1.4em;
        letter-spacing: 4px; }
        header nav ul li:hover {
          text-decoration: overline; }

.header-fixed {
  background-color: #8e44ad;
  padding: 0;
  font-size: 0.8em; }
  .header-fixed nav {
    justify-content: center; }

.photo-nav {
  max-width: 50%; }

.welcome {
  height: 100vh;
  background: url("../img/night_sky.jpg") 0/cover;
  position: relative; }

.slogan {
  position: absolute;
  left: 20%;
  bottom: 20%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
  font-size: 1.2em;
  text-align: center;
  transition: 1s; }
  .slogan h1 {
    background: none;
    color: white; }
  .slogan .countdown {
    padding: 15px 25px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 18px 18px 0 0;
    color: rgba(53, 49, 51, 0.92); }
    .slogan .countdown h1 {
      color: #8e44ad;
      text-transform: uppercase; }

.profile-photo {
  position: relative; }

.hobby {
  display: none; }

.tech {
  background: #2E323A;
  background: linear-gradient(to left, #2E323A, #7B4524);
  color: #ECEBF0;
  overflow: hidden; }

.tech h1 {
  margin-bottom: 0; }

.sublime-logo img {
  width: 130px; }

.other article {
  text-align: center; }

span .vip {
  font-size: 1.1em;
  color: inherit;
  font-weight: inherit; }

.portfolio-ex {
  margin: 10px; }

.frame {
  position: relative;
  overflow: hidden; }

.layer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.4s;
  top: -100%; }
  .layer a {
    display: flex;
    color: white; }
    .layer a i {
      border: green;
      padding: 10px;
      border-radius: 15px; }

.portfolio img, .layer {
  border-radius: 10px; }

.frame:hover .layer {
  opacity: 1;
  top: 0; }

.portfolio-links {
  text-align: center; }

.btn {
  display: block;
  background: rgba(46, 50, 58, 0.44);
  padding: 5px;
  margin: 15px;
  border: 2px solid rgba(139, 115, 18, 0.89);
  border-radius: 14px; }

.portfolio-links .fa {
  font-size: 2em;
  margin: 5px; }

.contact {
  padding-bottom: 15px; }

.contact form {
  display: none; }

footer {
  position: relative;
  text-align: center;
  background-color: #353133;
  color: #ECEBF0; }

footer::before {
  content: "";
  width: 100vw;
  height: 180px;
  background: #353133;
  position: absolute;
  top: -45px;
  left: 0;
  right: 0;
  transform: rotate(-4deg); }

.email-btn {
  background-position: 100% 0;
  background-size: 300%;
  background-image: linear-gradient(45deg, #0D3448 50%, transparent 50%);
  transition: 1s;
  font-size: 1.1rem; }
  .email-btn:hover {
    background-position: 0 100%;
    color: #F7C712; }

.icon-btn {
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 8px;
  cursor: pointer;
  font-size: 40px; }
  .icon-btn .fa {
    transition: ease-out 0.5s; }

.icon-btn .fa:hover {
  transform: scale(1.3); }

.icon-btn .fa-linkedin {
  color: #0077B5; }
.icon-btn .fa-codepen {
  color: #ebc203; }

footer div > div {
  z-index: 2; }

.footer-bottom {
  position: relative;
  background-color: #0c0c0c;
  color: white;
  padding: 10px; }

.big {
  transform: scale(1.05); }

@media (max-width: 950px) {
  .photo-nav {
    display: none; }

  .portfolio .flex, .portfolio .flex-wrap, .portfolio .flex-col {
    display: block; }

  footer .flex, footer .flex-wrap, footer .flex-col {
    flex-direction: column; }

  .layer a {
    padding: 5% 10%; } }

/*# sourceMappingURL=style.css.map */
